.bg-gray-800 {
	background-color: rgb(31 41 55);
}

.bg-tlgray-200 {
	background-color: rgb(229 231 235);
}

.bg-tlgray-800 {
	background-color: rgb(31 41 55);
}

.bg-white {
	background-color: rgb(255 255 255);
}

.background-color-blue {
	background-color: rgb(6 82 140);
}

.background-color-dark_blue {
	background-color: rgb(31 41 55);
}

.background-color-grey {
	background-color: rgb(229 231 235);
}

.background-color-black {
	background-color: rgb(0 0 0);
}