.margin-auto {
	margin: auto;
}

.margin-1 {
	margin: 1rem;
}

.margin-2 {
	margin: 2rem;
}


.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

