.padding-one_half {
	padding: 0.5rem;
}


.padding-1 {
	padding: 1rem;
}

.padding-x-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding-x-one_half {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.padding-y-one_half {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.padding-y-three_quarters {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-8 {
	padding: 2rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}