.text-align-center {
	text-align:center;
}

.text-align-left {
	text-align: left;
}

.color-white {
	color: rgb(255 255 255);
}

.color-blue {
	color: rgb(6 82 140);
}

.color-red {
	color: rgb(255 0 0);
}

.font-size-4 {
	font-size: 4rem;
}

.font-size-3 {
	font-size: 3rem;
}

.font-size-2 {
	font-size: 2rem;
}

.font-size-1 {
	font-size: 1rem;
}

.font-weight-bold {
	font-weight: bold;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}



.text-center {
  text-align: center;
}

.text-gray-600 {
  color: rgb(75 85 99);
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-gray-700 {
  color: rgb(55 65 81);
}

.text-gray-300 {
  color: rgb(209 213 219);
}

.hover\:text-decoration:hover {
	text-decoration:underline;
}

.hover\:text-white:hover {
  color: rgb(255 255 255);
}

.font-bold {
  font-weight: 700;
}